html,
    body,
    #viewDiv {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
    }

    .random-location-image, .download-image{
      background-color: white;
      padding: 2px;
      height: 28px;
      width: 28px;
      border-radius: 3px;
    }

    